@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';

body {
	background: #0E0F11;
	color:white;
}

.carousel-app {
	display: flex;
	align-items: center;
	padding: 50px 0px;
	height: 100vh;
	flex-direction: column;
	h1 {
		font-weight: bold;
		text-shadow: 3px 3px black;
		margin-bottom: 15px;
	}
	h4 {
		margin-bottom:50px;
	}
}

.slide {
	background: rgb(33,39,43);
	border-radius:5px;
	flex: 0 0 auto;
	max-width: inherit;
	display:flex;
	align-items:center;
	justify-content:center;
	height:100px;
	color:white;
	box-shadow: 0px 2px 3px #333;
}


.slide-wrapper {
	padding:10px;
	img {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
	}
}

.carousel-slides-wrapper {
	margin-bottom:20px;
	border-radius:5px;
}

.carousel-arrows {
	display: flex;
	.carousel-arrow-wrapper {
		margin-right:20px;
	}
}

.carousel-methods {
	margin: 20px 0px;
	button {
		margin: 0px 9px;
	}
}

.carousel-method {
	button {
		&:disabled {
			background: #f50057;
			opacity:0.5;
		}
	}
}
.carousel-wrapper {
	padding-top:15px;
}

.carousel-counter {
	font-size: 20px;
}
.carousel-animator {
	background: rgba(0,0,0,0.2);
}